head
    meta(name="twitter:title" content="A random image")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content=image)
    meta(name="twitter:description" content="Discord shitposting")
body
    a(href="/") Main page, it looks better
    br
    br
    a(href="/upload") Upload your own image
    br
    br
    img(src=image)