meta(name="twitter:title" content="Upload your own memes")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:image" content=image)
meta(name="twitter:description" content="Discord shitposting")