meta(name="twitter:title" content="Browse these images")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:image" content=image)
meta(name="twitter:description" content="This is a random image. Link this again for another random image.")