meta(name="twitter:title" content="Browse these images")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:image" content=image)
meta(name="twitter:description" content="This is one of many images. Visit the site to see more of this.")